body {
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1596455686797-16dc4694b0ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  font-family: 'Permanent Marker', cursive;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: forestgreen;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
}

li {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 40px;
  letter-spacing: 0.2rem;
  height: 30px;
  padding-top: 6px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: underline;
  color: black;
}
header {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}

img {
  width: 300px;
  height: 300px;
  margin: 30px;
  border: 7px solid black;
  border-radius: 15%;
}

footer {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

main {
  text-align: center;
  color: forestgreen;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 10px 20px;
}

#takingLawn {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
}

#status {
  border-bottom: 2px solid forestgreen;
}